
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(193, 181, 181);
    padding: 5px 10px;
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
    margin-right: 2rem;
    font-size: x-large;
}
ul a{
    text-decoration: none;
    color: black;
}
.intro{
    background-image: url(images/02-hero-bg.jpg);
}
/* this the about me section */
#about{
    display: flex;
    margin-right: 3rem;
}
#about h1{
    width: 35%;
    text-align: end;
    margin-right: 1rem;
}
#about p{
    max-width: 60%;
    border-left: solid black 4px;
    padding: 1rem 2rem;
}
/* work section */
.work{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    text-align: right;
    
}
#work{
    width: 60%;
    border-left: solid black 4px;
    display: flex;
    flex-wrap: wrap;
    
}
#work a{
    width: 100%;
    border: 1px solid red;
    
}
#work .projects{
width: 100%;
border: 1px solid red;
}
.large-image{
    height: 18rem;
    width: 100%;
}
.projects img{
    height: 8rem;
    width: 45%;
    margin-top: 5%;
}
.work h1{
    width: 33%;
    border: 1px solid red;
    position: relative;
    right: 2%;
}
.small-image{
    width: 100%;
}